
Шарики/.vs/Шарики/xs/sqlite3/storage.ide
Шарики/.vs/Шарики/xs/UserPrefs.xml
Шарики/bin/Debug/netcoreapp3.0/LinesPoints.txt
Шарики/bin/Debug/netcoreapp3.0/Шарики.dll
Шарики/bin/Debug/netcoreapp3.0/Шарики.pdb
Шарики/obj/Debug/netcoreapp3.0/Шарики.csprojAssemblyReference.cache
Шарики/obj/Debug/netcoreapp3.0/Шарики.dll
Шарики/obj/Debug/netcoreapp3.0/Шарики.pdb
Шарики/Program.cs
